footer {
  background-color: #010101;
  min-height: 120px;
}

footer .footerContainer {
  max-width: 1300px;
  display: flex;
  color: white;
  justify-content: center;
  margin: auto;
  padding: 20px;
  font-size: 1.2rem;
  flex-direction: column;
}

.footerWrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footerWrapper h2{
  font-size: 1.7rem;
  margin-bottom: 5px;
}

.footerWrapper p{
  font-size: 1.2rem;
  letter-spacing: .5px;
  line-height: 21px;
}

.footerAbout{
  width: 70%;
}

.footerLink{
  width: 20%;
}

.footerLink ul li{
  list-style: none;
  padding: 3px 0;
}

.footerLine{
  border-top: 2px solid white;
  margin-bottom: 10px;
}

.footerCopyright{
  text-align: center;
}

footer a {
  color: rgb(168, 168, 168);
  text-decoration: none;
  transition: color 0.3s;
}
footer a:hover {
  color: aliceblue;
}
@media (max-width: 768px) {
  footer .footerContainer {
    align-items: center;
    text-align: center;
  }
}
